{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<p>
    Welcome to your <strong>Cyberwall&trade;</strong> security system, with latest security defenses enabled!
</p>
<p>
    The <strong>Cyberwall&trade;</strong> protects you with the <strong>Blockchain&trade;</strong>, <strong>AI&trade;</strong> and the <strong>Cloud&trade;</strong>!
</p>

<p>All systems are functional.</p>

<p>Status: <strong>Secure</strong></p>
<img src="/static/img/secure.jpg" width="300px"/>
{% endblock %}